
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-dark fw-bold  text-body-emphasis fs-4 "  href="{{ path('app_home') }}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark fw-bold  text-body-emphasis fs-4" href="{{ path('app_carte') }}">Carte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark fw-bold  text-body-emphasis fs-4" href="{{path('app_menu_display')}}">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark  fw-bold text-body-emphasis fs-4">Reservation</a>
  </li>
</ul>
